.register{
    width: 400px;
    border: 1px solid black;
    height: auto;
    margin: auto;
    text-align: start;
    padding: 2%;
    border-radius: 4px;
    margin-top: 6%;
    background-color: rgb(228, 234, 235);

}

.register h1{
    text-align: center;
}

.register input{
    width: 100%;
    height: 25px;
    margin-top: 15px;
}

.radio-input{
    display: flex;
    align-items: center;
}
.radio-input input{
    margin: 0;
    width: 40px;
}

.register label{
    font-size: 20px;
}

.submit{
    background-color: rgb(91, 237, 186);
    border: 2px solid rgb(22, 226, 127);
    cursor: pointer;

}

.err {
    color: red;
    margin-bottom: 15px;
}